{% load static %}
<header>
    <nav id="navbar">
        <div class="container">
        <a href="{% url 'homePage' %}">
            <img style="margin-top: 1%" src="{% static 'img/logo.png' %}" width="20%">
        </a>
            <ul>
                <li><a  href="{% url 'restaurantHomePage' %}">Restaurant</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'contactUs' %}">Contact</a></li>
                {% if user.is_authenticated %}
                        <li><a href="">{{user}}</a></li>
                {% else %}
                    <li><a href="{% url 'login_in' %}">Profile</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
