{% load static %}
<header>
    <nav id="navbar">
        <div class="container">
            <img style="margin-top: 1%" src="{% static 'img/logo1.png' %}" href="index.html" width="20%">
            <ul>
                <li><a class="current" href="{% url 'homePage' %}">Hotel</a></li>
            <li><a class="current" href="{% url 'restaurantHomePage' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'contactUs' %}">Contact</a></li>
                {% if user.is_authenticated %}
                        <li><a href="">{{user}}</a></li>
                {% else %}
                    <li><a href="{% url 'login_in' %}">Profile</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
