{% extends 'master_page.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}

<div class="reg">
    <div class="lefSide_form">
        <h1>Registration:</h1>
    </div>
    <div class="reg_form">
        <form method="POST" action="">
            {% csrf_token %}

            <label for="id_firstname">First Name:</label>
            {{ form.firstname }}

            <label for="id_lastname">Last Name:</label>
            {{ form.lastname }}

            <label for="id_phone_number">Phone Number:</label>
            {{ form.phone_number }}

            <label for="id_email">Email:</label>
            {{ form.email }}

            <label for="id_address">Address:</label>
            {{ form.address }}

            <label for="id_password1">Password:</label>
            {{ form.password1 }}

            <label for="id_password2">Confirm Password:</label>
            {{ form.password2 }}

            <button type="submit">Register</button>
        </form>

        <div class="user_log"> Already have an account? <a href="{% url 'login_in' %}">Log in</a></div>
    </div>
</div>

{% endblock %}
