<header>
        <nav id="navbar">
            <div class="container">
                <img style="margin-top: 1%", src="./img/logo1.png", href="index.html", width="20%">
                <ul>
                    <li><a class="current" href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>

        <div id="showcase">
            <div class="container">
                <div class="showcase-content">

                    <h1><span class="text-primary">Miłego</span> pobytu</h1>
                    <p class="lead">Witam, to naprawdę trudne do naśladowania. Często jesteśmy zaślepieni prawdą
                        łożysko
                        i tym podobne utrudniają rozróżnienie.</p>
                    <a class="btn" href="about.html">About Our Hotel</a>

                </div>
            </div>
        </div>
    </header>