{%extends 'includes/master_page.html' %}

{% block title %}
Hotel-Restaurant VISTULA | Welcome
{%endblock%}

{% block content %}


    <div id="showcase">
        <div class="container">
            <div class="showcase-content">

                <h1><span class="text-primary">Miłego</span> pobytu</h1>
                <p class="lead">Witam, to naprawdę trudne do naśladowania. Często jesteśmy zaślepieni prawdą
                    łożysko
                    i tym podobne utrudniają rozróżnienie.</p>
                <a class="btn" href="about.html">About Our Hotel</a>
            </div>
        </div>
    </div>
    <section id="home-info" class="bg-dark">
        <div class="info-img"></div>
        <div class="info-content">
            <h2><span class="text-primary">The History</span> of Our Hotel</h2>
            <p>Sama firma jest bardzo udaną firmą. Oskarżyciele, w
                jakich momentach wybrany ma przyjemność, czy nie możemy tutaj zostawić winy za kłopoty? Wynalazcy łatwo
                jest odrzucić pragnienie zaspokojenia potrzeb tej mądrej rzeczy. Ucieka, nie cierpi bólu, każdy jest wybrany.</p>
            <a href="#" class="btn btn-light">Read More</a>
        </div>
    </section>

    <section id="features">
        <div class="box bg-light">
            <i class="fas fa-hotel fa-3x"></i>
            <h3>Great Location</h3>
            <p>Дуже супер локація, вау!</p>
        </div>
        <div class="box bg-primary">
            <i class="fas fa-utensils fa-3x"></i>
            <h3>Meals On The House</h3>
            <p>Три рази їсти дають сукам!</p>
        </div>
        <div class="box bg-light">
            <i class="fas fa-dumbbell fa-3x"></i>
            <h3>Fitness Room</h3>
            <p>Качаєм біцебс, і ідем в готель за білком шеф кухаря</p>
        </div>
    </section>

    <div class="clr"></div>

{%endblock%}